.list-group-item .oval{
    border:1px solid gray;
    border-radius: 20px;
    color:gray;
    margin-left: 10px;
    margin-right: 10px;
    padding: 7px;
}

.list-group-item .float-end {
    margin-right: 15px;
}

.list-group-item .completed {
    color:rgb(25, 134, 85);
}


.list-group-item .assignment-description {
    /* omg this line took me an hour to figure out... */
    display: inline-block; 
    margin: 0px;
}


.list-group-item a{
    color: black;
    text-decoration: none;
}

.top-buttons button {
    border-radius: 5px;
}

.top-buttons .assignment {
    background-color: red;
    color: white;
}

.top-buttons .search {
   margin-right: auto;
}

.no-margin {
    margin: 0px;
}


.align-center {
    align-self: center;
}


.quizDetailTable tr td:first-child {
    text-align: right;
    font-weight:bold;
    padding: 0 15px;

}

.quizDetailTable tr td:last-child {
    text-align: left;
    padding: 0 15px;
}

.quizTableButtom th {
    text-align: left;
    font-weight:bold;
}


.quizTableButtom{
    width: 100%;
}


.quiz-detail-buttons {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid gray !important;
    background-color: #f5f5f5;
    border-radius: 5px;
    margin-left: 5;
    margin-right: 5;
}

