.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
  font-weight: 600;
  
}

.wd-modules .addButton {
  background-color: darkgreen;
  color:white;
  border-radius: 30%;
  border: 1px;
  width: 2em;
}

.wd-modules > li {
  background-color: #f5f5f5;
  border: 1px solid gray !important;
  border-left: none !important;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}




.wd-modules > li > div {
  padding: 6px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-left: 1px solid gray !important;
}



.wd-modules > li > ul > li {
  padding: 6px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
}


.top-buttons{
  display: flex;
  flex-direction: row-reverse;
  margin: 5px;
  height: 40px;
  
}

.top-buttons button{
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid gray !important;
  background-color: #f5f5f5;
}

.line {
  margin: 15px;
}



.mb-1{
  margin-bottom: 1px;
}

.mt-5{
  margin-top: 5px;
}


.goodButton{
  margin-right: 5px;
  border-radius: 20%;
  border-color: black;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid gray !important;
  background-color: #f5f5f5;
}

.addModules {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.addModules > input{
  height: 3em;
  text-align:left;
  border: 1px solid;
  border-radius: 5%;
}

.addModules > textarea{
  border: 1px solid;
  border-radius: 5%;
}